.profile-page{
    width: 100%;
    min-height: 90vh;
    box-sizing: border-box;
    padding: 2em;
}

.profile-information{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    gap: 1vw;
}

.profile-information p{
    font-weight: bold;
    margin: 0;
    padding: 0;
}