.sidebar{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1vw;
    background-color: #261447;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.content-list{
    position: initial;
}

.sidebar img{
    width: 200px;
    height: auto;
}

.content-list h2{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    color: #FFFFFF;
    border-bottom: 2px solid rgba(255, 255, 255, 0.603);
    margin: 0;
    padding-block: 10px;
    box-sizing: border-box;
    font-size: 2vw;
}

.content-list a{
    text-decoration: none;
    color: rgba(156, 154, 154, 0.87);
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 0.5em;
    transition: all .2s ease-in-out;
}

.sidebar a:hover{
    color: #FFFFFF;
}

@media screen and (max-width: 1335px){

    .sidebar{
        justify-content:flex-start;
        align-items: center;
    }

    .sidebar img{
        display: none;
    }

    .content-container{
        display: none;
    }

}

.responsive-sidebar{
    width: 400px;
    background-color: #261447;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2em;
    height: auto;
    transform: translateX(100px);
    position: fixed;
    z-index: 2;
}

.responsive-sidebar a{
    text-decoration: none;
    color: rgba(156, 154, 154, 0.87);
    font-size: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 0.5em;
    transition: all .2s ease-in-out;
}

.responsive-sidebar h2{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    color: #FFFFFF;
    border-bottom: 2px solid rgba(255, 255, 255, 0.603);
    margin: 0;
    padding-block: 10px;
    box-sizing: border-box;
    font-size: 2em;
}

@media screen and (min-width: 1335px){
    .responsive-sidebar{
        display: none;
    }
}