.nav{
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    padding-inline: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar-buttons-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
}

.nav-buttons{
    width: 35px;
    height: auto;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

.nav-buttons:hover{
    transform: scale3d(1.2, 1.2, 1.2);
}