*{
  margin: 0;
  padding: 0;
}

body, html{
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar{
  width: 5px;
  height: auto;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: #836c6c98;
  border-radius: 8px;
}

/*Color Pallete
https://coolors.co/c0bda5-cc978e-f39c6b-ff3864-261447 */

/* Font Family Title
font-family: 'Open Sans', sans-serif; */

/* Font Family Sections/Subtitles
font-family: 'Abyssinica SIL', serif; */